### Sentiment Analysis Using Logistic Regression

In [13]:
# load in the clean data
import pandas as pd
import numpy as np  

df = pd.read_parquet('../data/clean/reviews_clean.parquet')
df.head()

,verification_status,review_body,published_date,rating,aircraft,type_of_traveler,seat_type,recommended,year,month,day,cumulative_avg_rating
0,Not Verified,Very good flight following an equally good fli...,2025-01-20,9.0,A320,Solo Leisure,Business Class,yes,2025,1,20,4.664271
1,Not Verified,An hour's delay due to late arrival of the inc...,2025-01-19,7.0,A319,Family Leisure,Economy Class,yes,2025,1,19,4.663158
2,Trip Verified,I booked through BA because Loganair don’t hav...,2025-01-15,1.0,None,Solo Leisure,Economy Class,no,2025,1,15,4.662558
3,Trip Verified,British airways lost bags in LHR then found th...,2025-01-09,1.0,None,Family Leisure,Premium Economy,no,2025,1,9,4.663499
4,Trip Verified,The check in process and reward/loyalty progra...,2025-01-05,1.0,A320,Business,Economy Class,no,2025,1,5,4.664440

In [14]:
# columns we need
df = df[['review_body', 'recommended']]
df.head()

                                         review_body recommended
0  Very good flight following an equally good fli...         yes
1  An hour's delay due to late arrival of the inc...         yes
2  I booked through BA because Loganair don’t hav...          no
3  British airways lost bags in LHR then found th...          no
4  The check in process and reward/loyalty progra...          no

In [15]:
# change recommended to 0 and 1
df.replace({'recommended': {'yes': 1, 'no': 0}}, inplace=True)

C:\Users\ryans\AppData\Local\Temp\ipykernel_53740\223845183.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'recommended': {'yes': 1, 'no': 0}}, inplace=True)

In [16]:
df.head()

                                         review_body  recommended
0  Very good flight following an equally good fli...            1
1  An hour's delay due to late arrival of the inc...            1
2  I booked through BA because Loganair don’t hav...            0
3  British airways lost bags in LHR then found th...            0
4  The check in process and reward/loyalty progra...            0